* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: Montserrat;
}

button, input {
  cursor: pointer;
  outline: none;
}

input[type="text"] {
  cursor: unset;
}

.underline {
  color: #333;
  text-decoration: line-through;
}

.all {
  left: 56px;
}
.active {
  left: 254px;
}
.completed {
  left: 456px;
}