* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

body, button, input {
  font-family: Montserrat;
}

button, input {
  cursor: pointer;
  outline: none;
}

input[type="text"] {
  cursor: unset;
}

.underline {
  color: #333;
  text-decoration: line-through;
}

:root {
  --btnState: 89px;
}

@media only screen and (max-width: 600px) {
  :root {
    --btnState: 70px;
  }
}